* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../imagens/fundo.png') no-repeat center center fixed;
    background-size: cover;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.global { /* div títulos*/
    text-align: center;
    color: white;
    position: absolute;
    top: 80px;
}

.title { /* estilo título*/
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.subtitle { /* div subtíulo*/
    font-size: 1em;
    font-weight: normal;
    color: #ccc;
    margin-bottom: 1em;
    
}

.container { /*container transparente*/
    background: rgba(0, 0, 0, 0.5); 
    padding: 1.5em;
    border-radius: 15px;
    max-width: 250px;
    width: 90%;
    position: relative;
    top: 0;
}

.activities {
    list-style: none;
}

.activities li {
    margin: 0.5em 0;
}

.activities a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #0d1b2a;
    border-radius: 10px;
}

.activities a:hover { /*efeitos botão*/
    background-color: #263147;
}

.activities span {
    font-size: 1.2em;
    color: white;
}
.button {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
     
}
/* Botão VOLTAR */
.voltar {
    top: 20px;
    left: 20px;
}

/* Botão ATIVIDADE 2 */
.atividade {
    top: 20px;
    right: 20px;
}